<div class="m-5">
<h1>New Booking</h1>
<%= simple_form_for([@car, @booking]) do |f| %>
  <%= f.input :start_date, as: :string %>
  <%= f.input :end_date, as: :string %>
  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>
</div>


<%# <div>
  <% @bookings.each do |booking| %>
    <%# <%= booking.start_date - booking.end_date - booking.user_id %>

      <%# <%= link_to "Show this booking", restaurant %>
  <%# <% end %>
<%# </div>  %>
