<body>
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="container-fluid">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX20188728.jpg" %> Vintage Wheels
      <% end %>
    </div>
    </div>

<br>

<div class="container mt-5">
  <div class="m-4">
  <h1 class='mb-3 text-primary display-6'>New Booking 🚗 </h1>
  <%= simple_form_for([@car, @booking]) do |f| %>
    <%= f.input :start_date, as: :date, html5: true %>
    <%= f.input :end_date, as: :date, html5: true %>
    <%= f.button :submit, class: 'btn btn-primary' %>
  <% end %>
  </div>
</div>

</body>
