<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= render "shared/car_logo" %>
    <% end %>

    <%= simple_form_for :search, url: cars_path, method: :get do |f| %>
      <div class="search-form-control form-group">
        <input placeholder="Enter your location or postcode" class="form-control string required" type="text" name="search[query]" id="search_query" />
        <button name="button" type="submit" class="btn btn-flat">
          <%# <i class="fas fa-search"></i> %>
          <ion-icon name="car-sport-outline"></ion-icon>
        </button>
      </div>
    <% end %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item active">
          <% if user_signed_in? %>
            <li class="nav-item dropdown">
              <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" <%= image_tag "user-icon.png" %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/my_bookings">View My Bookings</a>
                <a class="dropdown-item" href="/users/index">View My Garage</a>
                <a class="dropdown-item" href="/users/sign_out">Sign Out</a>
              </div>
            </li>
          <% else %>
            <%= link_to "Sign In", new_user_session_path, class: "nav-link" %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
