<body>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.carcovers.com/media/carcover/resource/classiccar.jpg);">
    <div class="container">
    <br>
    <br>
      <h1><strong><em>Vintage Wheels</em></strong></h1>
      <br>
      <h2><strong>Exclusive vintage cars for car lovers ❤️</strong></h2>
      <p>Explore Europe's largest vintage & classic car sharing marketplace</p>
      <br>
    </div></center>
  </div>

  <div class="container">
    <br>

    <center>
    <a href='/cars'>
    <button type="button" class="button">
      <span class="button__text">View Fleet</span>
      <span class="button__icon">
        <ion-icon name="car-sport-outline"></ion-icon>
      </span>
    </button>
    </a>
    </center>

    <div class="container mt-5">
      <div class="cards">
        <% @cars.each_with_index do |car, index| %>
          <% if (index < 3) %>
            <div class="card">

              <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)),
              url(<%=car.photo_url%>)">
              </div>
              <div class="card-body d-flex flex-column">
              <center><h5 class="card-title"><%= link_to "#{car.brand} #{car.model}", car_path(car) %></h5></center>
              <p class="card-text text-justify"><%= car.description %></p>
              <%= link_to "£#{car.price.round} per day! <b>BOOK ME</b>".html_safe, car_path(car), class: "mt-auto btn btn-primary"%>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>
  <br>
  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      <%= image_tag "https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX20188728.jpg" %> Vintage Wheels | 2022
    </div>
    <div class="footer-copyright">
      All rights reserved, Built with <i class="fas fa-heart"></i> in London
    </div>

  </div>
  <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
