<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX20188728.jpg" %> Vintage Wheels
    <% end %>

  <%= simple_form_for :search, url: cars_path, method: :get do |f| %>
    <div class="search-form-control form-group">
      <input placeholder="Enter your location or postcode" class="form-control string required" type="text" name="search[query]" id="search_query" />
      <button name="button" type="submit" class="btn btn-flat">
        <i class="fas fa-search"></i>
      </button>
    </div>
  <% end %>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto">
      <%# if user_signed_in? %>
        <%= link_to "Sign Up", new_user_registration_path, class: "nav-link"%>
        <li class="nav-item active">
          <%= link_to "Sign In", new_user_session_path, class: "nav-link" %>
        </li>
        <%# <li class="nav-item">
          <%= link_to "Messages", "#", class: "nav-link" </li> %>
        <%# <li class="nav-item dropdown">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <%# <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown"> %>
            <%# <%= link_to "Action", "#", class: "dropdown-item" %>
            <%# <%= link_to "Another action", "#", class: "dropdown-item" %>
            <%# <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <%# else %>
        <!--li class="nav-item"-->
          <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
        <!--/li-->
      <%# end %>
    </ul>
  </div>
</div>


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4)), url(https://www.carcovers.com/media/carcover/resource/classiccar.jpg);">
  <div class="container">
  <br>
  <br>
    <h1>Fuel your daydreams...</h1>
    <br>
    <h1><strong><em>Vintage Wheels</em></strong> brings <strong>exclusive vintage cars</strong> to <strong>car lovers ❤️</strong></h1>
    <p>Explore Europe's largest vintage & classic car sharing marketplace</p>
    <br>
    <center><%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg"%></center>
  </div>
</div>

<div class="container">
  <div>
    <center><h1 class="mt-5">🔥 Our top picks this week 🔥</h1></center>
  </div>

  <br>

  <center><%= link_to "View our entire fleet", cars_path, class: "btn btn-primary btn-lg"%></center>

  <div class="container mt-5 mb-5">
    <div class="cards">
      <% @cars.each_with_index do |car, index| %>
        <% if (index < 3) %>
          <div class="card">
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
            url(https://cdn.luxe.digital/media/2021/11/26104913/best-classic-cars-vintage-Jaguar-E-Type-1961-old-luxe-digital%402x.jpg.webp)">
            </div>
            <div class="card-body">
            <h5 class="card-title"><%= link_to car.model, car_path(car) %></h5>
            <p class="card-text">Volkswagen Van “Samba” diecast model with opening doors and a high level of detail throughout. The iconic two-tone paint design has been recreated here, authentically matching the design of the original with a number of other features that stay faithful to the original. The interior is equally rich in detail, and can be seen through the doors, windows and opening hatch-style boot.</p>
            <%= link_to "£#{car.price} - Check Availability", car_path(car), class: "btn btn-primary"%>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <%= image_tag "https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX20188728.jpg" %> Vintage Wheels | 2022
  </div>
  <div class="footer-copyright">
    All rights reserved, Built with <i class="fas fa-heart"></i> in London
  </div>
</div>
