<body>
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="container-fluid">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX20188728.jpg" %> Vintage Wheels
      <% end %>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <%# if user_signed_in? %>
            <%# <li class="nav-item active">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            <%# </li> %>
            <%# <li class="nav-item"> %>
            <%# </li> %>
          <%# else %>
            <!--li class="nav-item"-->
              <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
            <!--/li-->
          <%# end %>
        </ul>
      </div>
    </div>
  </div>

<div class="container">
<br>
<h2 class="mt-5">Log in</h2>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name),
    data: {turbo: false}) do |f| %>
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "current-password" } %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      <div class="form-actions">
        <%= f.button :submit, "Log in", class: "btn btn-primary"%>
      </div>
    </div>
  <%# <%= render "devise/shared/links", class: "container mt-5" %>
  <% end %>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <%= image_tag "https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX20188728.jpg" %> Vintage Wheels | 2022
  </div>
  <div class="footer-copyright">
    All rights reserved, Built with <i class="fas fa-heart"></i> in London
  </div>
</div>

</div>
