<br>
<div class="container xyz mt-5">
  <h3>Update Car</h3>
  <%= simple_form_for [@car] do |f| %>
    <%= f.input :brand %>
    <%= f.input :model %>
    <%= f.input :year %>
    <%= f.input :description %>
    <%= f.input :features %>
    <%= f.input :color %>
    <%= f.input :photo_url %>
    <%= f.input :location %>
    <%= f.input :price %>
    <%# <%= f.association :user, label_method: :first_name %>
    <%= f.submit "Update", class: "btn btn-primary" %>
  <% end %>
</div>

<br>
<br>
<br>
