<div class="container xyz">
  <h3>New Car</h3>
  <%= simple_form_for [@car] do |f| %>
    <%= f.input :model %>
    <%= f.input :year %>
    <%= f.input :brand %>
    <%= f.input :price %>
    <%= f.input :features %>
    <%= f.input :color %>
    <%= f.input :location %>
    <%= f.input :description %>
    <%= f.input :photo_url %>
    <%# <%= f.association :user, label_method: :first_name %> %>
    <%= f.submit "Create", class: "btn btn-primary" %>
  <% end %>
</div>
