<br>
<br>
<br>
        <%# <li class="nav-item">
          <%= link_to "Messages", "#", class: "nav-link" </li> %>
        <%# <li class="nav-item dropdown">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <%# <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown"> %>
            <%# <%= link_to "Action", "#", class: "dropdown-item" %>
            <%# <%= link_to "Another action", "#", class: "dropdown-item" %>
            <%# <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <%# else %>
        <!--li class="nav-item"-->
          <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
        <!--/li-->
      <%# end %>
    </ul>
  </div>
</div>

<br>
<div class="container xyz mt-5">
  <h3>Add New Car</h3>
  <%= simple_form_for [@car] do |f| %>
    <%= f.input :brand %>
    <%= f.input :model %>
    <%= f.input :year %>
    <%= f.input :description %>
    <%= f.input :features %>
    <%= f.input :color %>
    <%= f.input :photo_url %>
    <%= f.input :location %>
    <%= f.input :price %>
    <%# <%= f.association :user, label_method: :first_name %>
    <%= f.submit "Add Car", class: "btn btn-primary" %>
  <% end %>
</div>

<br>
<br>
<br>
