  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%=@car.photo_url%>)">
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
      <h1><%="#{@car.brand} #{@car.model}, #{@car.year}"%></h1>
      <br>
      <h2><%= ['A timeless classic', 'When You Get It, You Get It', 'Smarter than luxury', 'What a Luxury Car Should Be', 'A modern boutique with vintage charm', 'Handmade. Vintage. Local.'].sample %></h2>
      <br>
    </div>
  </div>

  <p style="color: green"><%= notice %></p>

  <div class="container booking-page">
    <div class="car-card flex-container" style = "margin-right: 50px">
      <ul style="list-style: none">
        <h1><strong>Car Details</strong></h1>

        <li><%= "<b>Brand</b>: #{@car.brand}".html_safe %></li>
        <li><%= "<b>Model</b>: #{@car.model}".html_safe %></li>
        <li><%= "<b>Year</b>: #{@car.year}".html_safe %></li>
        <li><%= "<b>Color</b>: #{@car.color}".html_safe %></li>
        <br>
        <li><%= "<b>Description</b>: <em>#{@car.description}</em>".html_safe%></li>
        <br>
        <li style="<b></b>"><b><%= "£#{@car.price.round} per day".html_safe %></b></li>
      </ul>
    </div>

    <div class="container" style = "margin-left: 50px">
      <h1 class='mb-3 text-primary display-6 text-black'><strong>🚗 Enter Booking Details 🚗</strong></h1>
      <%= simple_form_for([@car, @booking]) do |f| %>
        <%= f.input :start_date, as: :date, html5: true %>
        <%= f.input :end_date, as: :date, html5: true %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>

    <div class="container" style = "margin-left: 210px">
       <h1 class='mb-6 text-primary display-6 text-black' style = "margin: 20px" ><strong>Leave your review here</strong></h1>
        <%= simple_form_for([@car, @review]) do |f| %>
          <%= f.input :content %>
          <%= f.input :rating %>
          <%= f.button :submit, class: 'btn btn-primary' %>
        <% end %>
    </div>

  <% @reviews.each do |review|  %>
  <%= review.content %>
  <%= review.rating %>
  <% end %>
  </div>
  </div>

  <hr>
    <br>
    <br>
    <br>
    <div class="footer">
      <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="footer-copyright">
        <%= image_tag "https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX20188728.jpg" %> Vintage Wheels | 2022
      </div>
      <div class="footer-copyright">
        All rights reserved, Built with <i class="fas fa-heart"></i> in London
      </div>
    </div>
